<template name="sidebar">

  <!-- Sidebar -->
  <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

      <!-- Sidebar - Brand -->
      <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
        <div class="sidebar-brand-icon rotate-n-15">
          <i class="fas fa-graduation-cap"></i>
        </div>
        <div class="sidebar-brand-text mx-3">Grupo 13</div>
      </a>

      <!-- Divider -->
      <hr class="sidebar-divider my-0">

      <!-- Nav Item - Dashboard -->
      <li class="nav-item active">
        <a class="nav-link" href="/">
          <i class="fas fa-fw fa-tachometer-alt"></i>
          <span>Dashboard</span>
        </a>
      </li>

      <!-- Divider -->
      <hr class="sidebar-divider my-0">

      <li class="nav-item">
        <a class="nav-link" href="{{pathFor 'pageScraper'}}">
          <i class="fas fa-fw fa-cog"></i>
          <span>Page Scraper</span>
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="{{pathFor 'importer'}}">
          <i class="fas fa-fw fa-file-import"></i>
          <span>Importer</span>
        </a>
      </li>

      <!-- Heading -->
      <!-- <div class="sidebar-heading">
        Game Tools
      </div> -->

      <!-- Nav Item - Pages Collapse Menu -->
      <!-- <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
          <i class="fas fa-fw fa-cog"></i>
          <span>Tools</span>
        </a>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <a class="collapse-item" href="{{pathFor 'pageScraper'}}">Page Scrapper</a>            
          </div>
        </div>
      </li> -->
      

    </ul>
    <!-- End of Sidebar -->
  </template>